.App {
  font-size: 1.6rem;
  color: yellowgreen;
  text-align: center;
  max-width: 105rem;
  height: 100vh;
  padding-bottom: 4rem;
  margin: 0rem auto;
  background-color: #698269;
  overflow-y: auto;
}

.App::-webkit-scrollbar {
  display: none;
}

.person {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 3rem;
}

h3 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
}

li span {
  font-weight: bold;
}

.status {
  position: absolute;
  bottom: 5%;
  right: 20%;
}

@keyframes appearDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  opacity: 0;
  animation: appearDisappear 1.5s infinite;
}

.dot-1 {
  animation-delay: 0.5s;
}

.dot-2 {
  animation-delay: 1s;
}

.dot-3 {
  animation-delay: 1.5s;
}
